<h1 class="name">
  <%= @post.recipe_name %>
</h1>

<p class="date">
  Submited <%= time_ago_in_words(@post.created_at)%> ago
  <% if @post.user == current_user %>
  | <%= link_to 'Edit', edit_post_path(@post)%>
  | <%= link_to 'Delete', post_path(@post), method: :delete%>
  <%end%>
</p>
