<h2>About the Developer</h2>

<li>
  <a class="nav-link" href="tictac">Play Tic-Tac-Toe</a>
  <span class="sr-only"><span>
  </a>
</li>

<li>
  <a class="nav-link" href="racer">Play Ruby Racer</a>
  <span class="sr-only"><span>
  </a>
</li>